*, *::before, *::after {box-sizing: inherit;}

html,body{
  box-sizing: border-box;
}

.header {
  display: flex;
  margin: 20px;
  background: whitesmoke;
}

.header h1{
  margin : auto;
}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 165px;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 250px;
}

li {
  color: #333;
  background-color: powderblue;
  padding: 15px;
  margin : 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
  display: list-item;
}

.theList {
  margin: 15px;
  padding: 0;
}

.lists {
  display: grid;
}

.taskInputDiv {
  display: flex;
  margin: 50px;
  background: whitesmoke;
}

.checkbox label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.checkbox input {
  vertical-align: middle;
}
.checkbox label span {
  vertical-align: middle;
}

.taskCardsDiv{
  display: flex;
  margin: 20px;
  border: 2px;
}

.headerForm{
  margin: 15px;
}

