*, *::before, *::after {box-sizing: inherit;}

html,body{
  box-sizing: border-box;

}

.header{
  display: flex;
  margin: 50px;
}

.todoHeading {
  text-align: center;
}

/* .addTodoBtn{
  vertical-align: bottom;
} */

.checkbox label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.checkbox input {
  vertical-align: middle;
}
.checkbox label span {
  vertical-align: middle;
}
